.destaque1{
  margin-bottom: 0;
}

img{
  width: 100px;
  height: 100px;
}

.profile-text-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-name {
  color: #303538;
  font-size: 20px;
}

.profile-location {
  /* color: #54453B;  */
  font-size: 16px;
}

.profile-experience {
  color: #54453B;
  font-size: 16px;
}

.profile-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 768px) {
  .profile-list {
    grid-template-columns: 1fr;
  }
}