menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  width: 16.67%;
  background-color: #7FCCD4;
  position: fixed;
  text-align: center;
  filter: drop-shadow(0px 0px 8px #303538);
  z-index: 99;
}
.fachada{
  margin: auto;
  font-weight: bold;
  font-size: 20pt;
  line-height: 40px;
}
menu img {
  width: 100px;
  border-radius: 100%;
  filter: drop-shadow(0px 0px 8px #1B3133);
}

menu ul{
  font-size: 16pt;
  list-style: none;
  margin: auto;
}
.menu-item {
  line-height: 40px;
  cursor: pointer;
}
.pag-ativa {
  font-size: 18pt;
  font-weight: bold;
}
footer {
  border-top: 1px solid rgba(28, 49, 52, 1);
  color:rgba(28, 49, 52, 1);
  line-height: 16px;
  font-weight: light;
  font-size: 12pt;
  padding: 15px;
  margin-top: auto;
}