/* Estilos específicos do menu */
menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  background-color: var(--corAzulDestaque);
  text-align: center;
  filter: drop-shadow(var(--sombra) var(--corNeutraEscura));
}

.fachada {
  margin: auto;
  font-weight: bold;
  font-size: 20pt;
  line-height: 40px;
}

menu img {
  width: 100px;
  border-radius: 100%;
  filter: drop-shadow(var(--sombra) var(--corAzulEscuro));
}

.itemMenu {
  line-height: 40px;
  cursor: pointer;
  border-radius: var(--bordaArredondada);
  box-shadow: var(--sombra) var(--corNeutraEscura);
  padding: 3px;
  width: 200px;
  font-size: var(--tamanhoFonteTextoMenor);
  color: var(--corAzulEscuro);
  align-items: center !important;
}

.paginaAtiva {
  font-size: 18pt;
  font-weight: bold;
  color: var(--corNeutraEscura);
  background-color: rgba(211, 163, 127, 0.6);
}

footer {
  border-top: 1px solid var(--corAzulEscuro);
  color: var(--corAzulEscuro);
  line-height: 16px;
  font-weight: light;
  font-size: var(--tamanhoFonteTextoMicro);
  padding: var(--espacamentoPequeno);
  margin-top: auto;
}

