/* Estilos específicos do menu */
menu {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100vh;
  background-color: var(--corAzulDestaque);
  text-align: center;
  filter: drop-shadow(var(--sombra) var(--corNeutraEscura));
}

.fachada {
  margin: auto;
  font-weight: bold;
  font-size: var(--tamanhoFonteTexto);
  line-height: 40px;
}

menu img {
  width: 100px;
  border-radius: 100%;
  filter: drop-shadow(var(--sombra) var(--corAzulEscuro));
}

/* Centralizando a lista verticalmente */
.listaIcones.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;
  gap: 12px;
}

.itemMenu {
  line-height: 20px;
  cursor: pointer;
  border-radius: var(--bordaArredondada);
  box-shadow: var(--sombra) var(--corNeutraEscura);
  padding: var(--espacamentoPequeno);
  width: 200px;
  font-size: var(--tamanhoFonteTextoMenor);
  color: var(--corAzulEscuro);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.paginaAtiva {
  font-size: var(--tamanhoFonteTextoMedio);
  font-weight: bold;
  color: var(--corNeutraEscura);
  background-color: var(--corMarromDestaqueTransparente);
}

footer {
  border-top: 1px solid var(--corAzulEscuro);
  color: var(--corAzulEscuro);
  line-height: 16px;
  font-weight: light;
  font-size: var(--tamanhoFonteTextoMicro);
  padding: var(--espacamentoPequeno);
  margin-top: auto;
}