*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Calibri', 'Arial';
}
html{
    background-color: #FDF9EE;
}
body {
  overflow: hidden;
}
main {
  overflow-y: auto;
  height: 100vh;
  text-align: center;
}
.titulo {
  font-size: 48px;
  font-weight: bold;
  color: #54453B;
  margin-bottom: 30px;
}
.container {
  padding: 60px;
  text-align: center;
}
.destaque1{
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 30px;
  width: auto;
  cursor: pointer;
  background-color:rgba(211, 163, 127, 0.3);
  box-shadow: 0 0px 8px  #303538;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.destaque2{
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 30px;
  width: auto;
  background-color: rgba(127, 204, 212, 0.3);
}
.destaque3{
  border-radius: 8px;
  padding: 15px;
  margin: 0px 30px 30px 30px;
  width: auto;
  background-color: rgba(211, 163, 127, 0.3);
  text-align: left;
}
.imagemPerfil {
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 0px 8px  #54453B;
}
p {
  line-height: 1.6;
}

main .lista{
  display: flex;
  align-items: center;
  gap: 10px;
}