*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Calibri', 'Arial';
}
html{
    background-color: #FDF9EE;
}
body {
  overflow: hidden;
}

main {
  overflow-y: auto;
  height: 100vh;
}

.titulo {
  font-size: 48px;
  font-weight: bold;
  color: #54453B;
}