/* Estilos específicos do componente de interrogação */
.interogacao {
  position: fixed;
  top: var(--espacamentoPequeno);
  right: var(--espacamentoPequeno);
  width: 18px !important;
  height: 18px !important;
  font-weight: bold;
  z-index: 1000;
  transition: all 0.3s;
  align-items: center !important;
  justify-content: center !important;
}

.conteudoInterrogacao {
  position: fixed;
  top: 60px;
  right: var(--espacamentoPequeno);
  max-width: 210px;
  z-index: 1001;
  border-radius: var(--bordaArredondada);
  animation: aparecer 0.3s;
  background-color: var(--corMarromDestaque) !important;
  box-shadow: var(--sombra) var(--corNeutraEscura) !important;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

