/* Interrogacao.css */
.interogacao {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 18px !important;
  height: 18px !important;
  font-weight: bold;
  z-index: 1000;
  transition: all 0.3s;
  align-items: center !important;
  justify-content: center !important;
}

.conteudo-interrogacao {
  position: fixed;
  top: 60px;
  right: 15px;
  max-width: 210px;
  z-index: 1001;
  border-radius: 8px;
  animation: aparecer 0.3s;
  background-color: rgba(211, 163, 127, 1) !important;
  box-shadow: 0 0px 8px var(--cor-sombra) !important;
}

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}