.cartaoDestaque.variacao1 {
  margin-bottom: 0;
}

.listaDePerfis img {
  width: 100px;
  height: 100px;
}

.textoConteudoPerfil {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nomePerfil {
  color: #303538;
  font-size: 20px;
}

.localizacaoPerfil {
  font-size: 16px;
}

.listaDePerfis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media (max-width: 768px) {
  .listaDePerfis {
    grid-template-columns: 1fr;
  }
}