/* Estilos específicos da página de qualificados */
.imagemPerfil {
  width: 100px;
  height: 100px;
}

.conteudoTextoPerfil {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nomePerfil {
  color: var(--corNeutraEscura);
  font-size: var(--tamanhoFonteTextoMedio);
  font-weight: bold;
}

.localizacaoPerfil {
  color: var(--corMarromEscuro);
  font-size: var(--tamanhoFonteTextoMenor);
}

.experienciaPerfil {
  color: var(--corMarromEscuro);
  font-size: var(--tamanhoFonteTextoMenor);
}

.listaPerfis {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--espacamentoGrande);
  margin-top: var(--espacamentoGrande);
}

@media (max-width: 768px) {
  .listaPerfis {
    grid-template-columns: 1fr;
  }
}

