.imagemPerfil {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  object-fit: cover;
  box-shadow: 0 0px 8px var(--cor-texto-principal);
}

.profile-text-content {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.profile-name {
  color: #303538;
  font-size: 20px;
  font-weight: bold;
}

.profile-location {
  color: #54453B;
  font-size: 16px;
}

.profile-experience {
  color: #54453B;
  font-size: 16px;
}

.profile-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .profile-list {
    grid-template-columns: 1fr;
  }
}